html {
    scroll-behavior: smooth;
}

body {
    background: white;
}

.header { 
    background-color: #202020;
    background-image: url('./Pictures/pattern.pdf');
    background-position: center center;
    background-repeat: repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: 100%;
    overflow: auto;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*.sticky + .body{
    padding-top: 100px;
}*/

#navBar {
    background:white;
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: none;
    float: left;
    display: block;
    text-align: left;
    width: 100%;
}

a {
    font-family: Oswald;
    font-weight: 500;
    font-size: 30px;
    color: black;
}

/*div {
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}*/

h1 {
    font-size: 80px;
    font-family: Oswald;
    font-weight: 400;
}

h2 {
    font-size: 60px;
    font-family: Oswald;
    font-weight: 500;
}

#About {
    background-color: #202020;
    background-image: url('./Pictures/barbell.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: 100%;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    font-size: 30px;
    font-family: Oswald;
    font-weight: 200; 
}

.firstP {
    font-size: 50px;
    font-family: Oswald;
    font-weight: 400;
}
#Bio {
    background-color: white;
    font-size: 30px;
    font-family: Oswald;
    font-weight: 200;
}

#Bio img {
    max-width: 300px;
    max-height: auto;
    padding-right: 10px;
    float: left;
    overflow: auto
}

#Services {
    background-color: #202020;
    background-image: url('./Pictures/weights.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: 100%;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    font-size: 30px;
    font-family: Oswald;
    font-weight: 200; 
    
}

#Rates {
    display: block;
    height: 600px;
}

#Contact {
    display: block;
    height: 600px;
}